html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

form div.required label.control-label:after {
    content:" * ";
    color:red;
}

/*
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,*/
.kv-grid-table > tbody > tr > td,
.kv-grid-table> tfoot > tr > td {
    border: 1px solid #c8c8c8 !important;
}

.kv-grid-table > thead > tr > th,
.kv-grid-table > thead > tr > td{
    border: 1px solid #dedede !important;
}

.kv-grid-table > thead > tr:first-child {
    border-top: 2px solid #bdbdbd !important;
}

.kv-grid-table > thead > tr:last-child {
    border-bottom: 2px solid #bdbdbd !important;
}

.tabla-panel > tbody > tr > th,
.tabla-panel > tbody > tr > td{
    border: 1px solid #546E7A !important;
}
.tabla-panel > tbody > tr > th{
    background-color: rgba(78, 78, 78, 0.58);
    color: white;
    vertical-align: middle !important;
    text-align: center !important;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

table.detail-view th {
    width: 35%;
}

table.detail-view td {
    width: 65%;
}